<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../css/base.css" th:href="@{css/base.css}" rel="stylesheet">
    <title>Order</title>
</head>
<body>
    <div class="base_div, center_input_order">
        <h1>Please leave your order</h1>
        <a th:href="@{/}">Main page</a>
        <form action="order" method="post">
            <input class="input_order" type="text" size="50" placeholder="Full name">
            <input class="input_order" type="text" size="50" placeholder="Address">
            <input class="input_order" type="text" size="50" placeholder="Cabinet">
            <input class="input_order" type="text" size="50" placeholder="Quantity water">

            <button class="button_form_order">Confirm</button>
        </form>
    </div>
</body>
</html>