<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../css/base.css" th:href="@{css/base.css}" rel="stylesheet">
    <title>Order</title>
</head>
<body>
    <div th:insert="~{menu :: #nav_menu}"></div>
    <div class="base_div, center_input_order">
        <h1>Please leave your order</h1>
        <form th:action="@{/order}" th:object="${order}" method="post">
            <input class="input_order" type="text" th:field="*{full_name}" placeholder="Full name">
            <input class="input_order" type="text" th:field="*{address}" placeholder="Address">
            <input class="input_order" type="text" th:field="*{cabinet}" placeholder="Cabinet">
            <input class="input_order" type="number" th:field="*{quantityOfWater}" min="1" max="10" step="1" placeholder="Quantity water">
            <button class="button_form_order" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>